@using System.Xml;
@model IeasteJson2Svg.Models.SvgDocument

@{
    ViewData["Title"] = "Details";
}
<br />
<div class="row">
    <div class="col-lg-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DocumentName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DocumentName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <div class="col-lg-6">
        <a asp-action="Index" asp-controller="DocumentsGenerator" asp-route-id="@Model.ID" class="btn btn-success">Generate documents</a>
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-danger">Back to List</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="well">
            <img class="center-block" src="@Model.DocumentPath" style="border:2px solid #021a40" />
        </div>
    </div>
    <div class="row well center-block">
        <h3 class="list-heading text-center">Found elements</h3>
        <ul class="list-group">
            @{
                if (ViewData["Elements"] != null)
                {
                    var elements = ViewData["Elements"] as List<XmlNode>;
                    for (int i = 0; i < elements.Count; i++)
                    {
                        <li class="list-group-item"> @elements[i].Attributes["id"].Value &nbsp;: @elements[i].InnerText</li>
                    }
                }
            }
        </ul>

    </div>

</div>
