@model IEnumerable<IeasteJson2Svg.Models.SvgDocument>

@{
    ViewData["Title"] = "Index";
}
<br />
<p>
    <span class="glyphicon glyphicon glyphicon-plus" style="color: dodgerblue"></span>
    <a asp-action="Create" class="btn btn-primary">Add new document</a>
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Index" asp-controller="DocumentsGenerator" asp-route-id="@item.ID" class="btn btn-primary">Generate documents</a>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-success">Details</a>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
