@model IeasteJson2Svg.Models.SvgElement

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SvgElement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocumentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocumentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttributeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttributeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttributeInnerText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttributeInnerText)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
